@use 'base/variables' as v;
@use 'base/mixins' as m;

.alerta {
    &.error {
        background-color: v.$rojo;
        margin: .5rem 0;
        padding: .5rem 0;
        font-size: 1rem;
        color: v.$blanco;
        text-align: center;
        font-weight: bold;
        font-family: v.$fuentePrincipal;
        border-radius: .8rem;
    }
}